*.orig
*.pyc
*.pyo
django_inventory/media/photologue/photos/*
django_inventory/media/photologue/photos/cache/*
*.sqlite?
*.sqlite
settings_local.py
*egg-info*
.coverage
dist/
/django-inventory/settings/local.py
