include README.rst LICENSE HISTORY.rst
recursive-include django_inventory README *.txt *.html *.css *.ico *.png django_inventory/apps/*.jpg *.po *.mo *.js
global-exclude settings_local.* *sqlite* django_inventory/media
